<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Firstly thanks for visiting this website. This website is build for a
        testig purposes so feel free to do whatever you like in this website
        consider this website as your own website.
      </p>
      <p class="center">
        (---Thanks <strong>The Net Ninja</strong> for providing video to make
        this website and thanks <strong>Ranjan</strong> for little update---)
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
